h1 {
    color: red;
    text-align: center;
}
h1::before {
    content: '';
    color:brown;
}
h1::after {
    content: '';
    color: rgb(0, 0, 0);
}
h2::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: green;
    border-top: 5px solid transparent;
    border-left: 10px solid red;
    border-bottom: 5px solid transparent;
    position: relative;
    top: -3.5px;
    left: 50px;
    margin-right: 10px;
}
p::first-letter {
    color: rgb(230, 16, 212);
    font-weight: bold;
}